body, html{
	box-sizing:border-box;
	font-family: 'Lato', sans-serif;
	padding:0;
	margin:0;
	background-color: #F6F6F6;
	font-weight:300;
}

/* Input du titre du document + Boutons */

.wrapper {
	
	display:flex;
	justify-content:flex-start;
	flex-direction:column;

	& .inputitle {
		height:25px;
		padding:10px 20px;
		border:solid 1px #CCC;
		font-size: 20px;
	}

}
.centered {
	margin:0 auto;
	display:block;
	text-align:center;
}
.button {
	height: 40px;
	margin:10px 0;
	padding:0 20px ;
	background-color: #4596a0;
	color: white;
	font-size: 0.9em;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	outline:none;
	text-shadow: none;
	transition: all .4s ease-out;

	&:hover {
		background-color: #2d757e;
	}
}

/* Corps de page : Editeur */

#container {
	width:80vw;
	margin:0 auto;
	display:flex;

	justify-content: flex-start;
	flex-direction: row-reverse;

	& .CodeMirror, & #result{
		width:50%;
		min-height:94vh;
		display:inline-block;
		border-left:solid 1px #CCC;
	}
	
	& #result {
		width:50%;
		background-color: white;
		border-left: solid 1px #e6e6e6;
		padding:0 15px;
	}
}

.list {
	width:20vw;
	min-width:250px;

	& h4 {
		font-weight:400;
		font-size:24px;
		text-align:center;
		margin:20px 0;
	}
	& #doclist a {
		display:block;
		color:inherit;
		font-weight: 300;
		padding:15px 0 15px 10px;
		text-decoration: none;
		border-bottom: 1px solid #CCC;
		transition: all .4s ease-out;

		&:last-child {
			border-bottom:none;
		}
		&:hover {
			background-color:#E2E2E2;
		}
	}
}

.content {
	display:flex;
	justify-content:row;
	flex-direction:flex-start;
}
